<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>108267575769-16qg1dqb1hh1oic2emqc04kn8lhgjghf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.108267575769-16qg1dqb1hh1oic2emqc04kn8lhgjghf</string>
	<key>API_KEY</key>
	<string>AIzaSyD3b7o9GbLBJ4w31DN3JaOkauQ7OhQS94E</string>
	<key>GCM_SENDER_ID</key>
	<string>108267575769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.campusConnect</string>
	<key>PROJECT_ID</key>
	<string>campus-connect-324ef</string>
	<key>STORAGE_BUCKET</key>
	<string>campus-connect-324ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:108267575769:ios:a22210ba106e6eb33ea1c8</string>
	<key>DATABASE_URL</key>
	<string>https://campus-connect-324ef-default-rtdb.firebaseio.com</string>
</dict>
</plist>